body {
    margin: 0;
    padding: 2em 3em 2em 3em;
    background-color: #eeeeee;
}

#add{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 2em;
    height: 2em;
    width: 2em;
    color: gray;
}

.widget {
    box-shadow: 5px 5px 20px rgba(74,115,159,0.2);
    border-radius: 4px 4px 4px 4px;
    background-color: #F4F6F7;
    display: inline-block;
    margin: 0.5em;
}

#choice {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


